<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1"
        vendor="CoNWeT" name="history-player-widget" version="1.0.0">
  <details>
    <title>History Player</title>
    <authors>Álvaro Arranz &lt;aarranz@fi.upm.es&gt;</authors>
    <email>wirecloud@conwet.com</email>
    <description>Linear chart with step by step viewing features</description>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
  </details>

  <requirements>
      <feature name="StyledElements" />
  </requirements>

  <preferences>
      <preference name="keys" type="text" label="Attributes" description="Comma sparated list of attribute names to use for drawing historical data. Leave this empty to auto detect data to display" />
  </preferences>

  <wiring>
    <inputendpoint name="inputData" type="text" label="inputData" description="Receives the data it will show" />
    <outputendpoint name="outputData" type="text" label="outputData" description="Sends the data of the zone selected" />
  </wiring>

  <contents src="index.html" useplatformstyle="true"/>
  <rendering width="15" height="40"/>

</widget>
